html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#map1 { position:absolute; top:50px; bottom:0; left:0; right:50%; overflow: hidden;}
#map2 { position:absolute; top:50px; bottom:0; left:50%; right:0; overflow: hidden;}
body {
  padding-top: 50px;
}
#animationButton{
	position:fixed;
	top:120px;
	right:10px;
	z-index:7;
}
#timeControl{
	position:fixed;
	top:120px;
	right:150px;
	z-index:7;
	background: white;
}
#logo{position:fixed;
	bottom:20px;
	left:10px;
	z-index:7;
	width: 180px;
    height: 60px;
}
#navLogo{position:fixed;

	right:10px;
	z-index:7;
	width: 280px;
    height: 100px;
}
#naviLogo{position:fixed;

	left:10px;
	z-index:7;
	width: 280px;
    height: 100px;
}
#titleLocation{
	position:fixed;
	top:60px;
	left:22%;
	z-index:7;
	color: white;
	font-size:1.5em;
	text-shadow: 0 0 0.2em #8F7;
}
#titleEnergy{
	position:fixed;
	top:60px;
	right:22%;
	z-index:7;
	color: white;
	font-size:1.5em;
	text-shadow: 0 0 0.2em #388E8E, 0 0 0.2em #388E8E, 0 0 0.2em #388E8E;
}
#currentTime{
	position:fixed;
	top:150px;
	right:10px;
	z-index:7;
	color: white;
	font-size:1em;
	font-family: Courier New;
}
#locationLegend{
	position:fixed;
	bottom:60px;
	left:10px;
	z-index:7;
	width: 150px;
    height: 210px;
	border-radius: 10px;
	opacity: 0.95;
}
.leaflet-popup-content {
	width:auto !important;
	overflow: auto;
}
.legend label,
.legend span {
  display:block;
  float:right;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  z-index:8;
  padding: 2px;
  }
.legendText {
padding-right: 10px;
}
#triangle{
font-size: 0px; line-height: 0%; width: 0px;
border-bottom: 20px solid #3f3f3f;/* Dreieckfarbe*/
border-left: 10px solid transparent;
border-right: 10px solid transparent;
} 
#hexTop {
float: left;
border-right: 5px solid #3f3f3f;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}
#hexMid {
float: left;
width: 12px;
height: 20px;
background-color: #3f3f3f;
}
#hexBot {
float: left;
border-left: 5px solid #3f3f3f;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}
#squere {
   width: 20px;
   height: 20px;
   background: #3f3f3f;
}
#circle {
   width: 20px;
   height: 20px;
   background: #3f3f3f;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#electricity {
   width: 20px;
   height: 5px;
   background: #0099CC;
}
#heat {
   width: 20px;
   height: 5px;
   background: #FF4500;
}
#gas {
   width: 20px;
   height: 5px;
   background: #FFB90F;
}